<div id="main">
  <header>
    <nav>
      <i
        *ngIf="!mostrarMenu"
        class="fa-solid fa-bars fa-lg"
        (click)="toogleMenu()"
      ></i>
      <i
        *ngIf="mostrarMenu"
        class="fa-solid fa-xmark fa-lg"
        (click)="toogleMenu()"
      ></i>
      <ul *ngIf="mostrarMenu" class="menu menu1">
        <li class="element1">
          <a class="element" href="/">Inicio</a>
        </li>
        <li class="element1">
          <p (click)="toggleUniverse()">Universo</p>
          <ul class="menu menu2" *ngIf="showUniverse">
            <li class="element2">
              <p (click)="toggleHistory()">Historia</p>
              <ul class="menu menu3" *ngIf="showHistory">
                <li *ngFor="let link of universeLinks" class="element3">
                  <a href="/universo/historia/{{ link.url }}">{{
                    link.name
                  }}</a>
                </li>
              </ul>
            </li>
            <li class="element2">
              <p (click)="toggleSociety()">Sociedad</p>
              <ul class="menu menu3" *ngIf="showSociety">
                <li *ngFor="let link of societyLinks" class="element3">
                  <a href="/universo/sociedad/{{ link.url }}">{{
                    link.name
                  }}</a>
                </li>
                <li class="element3">
                  <p (click)="toggleHouses()">Casas nobles</p>
                  <ul class="menu menu4" *ngIf="showHouses">
                    <li *ngFor="let link of housesLinks" class="element4">
                      <a
                        href="/universo/sociedad/casas-nobles/{{ link.url }}"
                        >{{ link.name }}</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="element3">
                  <p (click)="toggleChurch()">
                    La Iglesia Universal del Sol Celestial
                  </p>
                  <ul class="menu menu4" *ngIf="showChurch">
                    <li *ngFor="let link of churchLinks" class="element4">
                      <a
                        href="/universo/sociedad/la-iglesia-universal-del-sol-celestial/{{
                          link.url
                        }}"
                        >{{ link.name }}</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="element3">
                  <p (click)="toggleGuild()">Los Gremios</p>
                  <ul class="menu menu4" *ngIf="showGuild">
                    <li *ngFor="let link of guildLinks" class="element4">
                      <a href="/universo/sociedad/los-gremios/{{ link.url }}">{{
                        link.name
                      }}</a>
                    </li>
                  </ul>
                </li>
                <li class="element3">
                  <p (click)="toggleAliens()">Alienígenas</p>
                  <ul class="menu menu4" *ngIf="showAliens">
                    <li *ngFor="let link of aliensLinks" class="element4">
                      <a href="/universo/sociedad/alienigenas/{{ link.url }}">{{
                        link.name
                      }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
