#main {
  display: flex;
  header {
    width: 10%;
  }
  div {
    width: 90%;
    padding: 15px 10%;
  }
}

@media (max-width: 999px) {
  header {
    display: none;
  }
  div {
    width: 100%;
    padding: 15px 0;
  }
}
