<nav>
  <i
    *ngIf="!mostrarMenu"
    class="fa-solid fa-bars fa-lg"
    (click)="toogleMenu()"
  ></i>
  <i
    *ngIf="mostrarMenu"
    class="fa-solid fa-xmark fa-lg"
    (click)="toogleMenu()"
  ></i>
  <ul *ngIf="mostrarMenu" class="menu menu1">
    <li class="element1">
      <a class="element" href="/">Inicio</a>
    </li>
    <li class="element1">
      <p (click)="toggleUniverse()">Universo</p>
      <ul class="menu menu2" *ngIf="showUniverse">
        <li class="element2">
          <p (click)="toggleHistory()">Historia</p>
          <ul class="menu menu3" *ngIf="showHistory">
            <li class="element3">
              <a href="/universo/prologo">Prólogo</a>
            </li>
            <li class="element3">
              <a href="/universo/prehistoria">Prehistoria</a>
            </li>
            <li class="element3">
              <a href="/universo/primera-republica">Primera República</a>
            </li>
            <li class="element3">
              <a href="/universo/portal-de-salto">El portal de Salto</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
