nav {
  display: flex;
  ul {
    li {
      a {
        img {
          max-width: 100%;
        }
      }
      ul {
        display: none;
      }
      p:hover {
        position: relative;
      }
    }
    li:hover {
      ul {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }
}
