nav {
  user-select: none;
  i {
    margin-top: 25px;
    margin-left: 12px;
  }
  .menu1 {
    margin-top: 10px;
    margin-left: 10px;
    width: 30vw;
  }
}

.menu2 {
  margin-left: 10px;
}

.menu3 {
  margin-left: 10px;
}

.element3 {
  margin-top: 10px;
}

a p li {
  font-size: 20px;
}

.menu {
  cursor: pointer;
}

@media (max-width: 1000px) {
  nav {
    .menu1 {
      width: 70vw;
    }
  }
}
