nav {
  user-select: none;
  i {
    margin: 10px;
  }
  ul {
    margin-top: 10px;
    margin-left: 10px;
    width: 70vw;
  }
}

@media (min-width: 1000px) {
  nav {
    ul {
      width: 20vw;
    }
  }
}
