ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

@media (max-width: 550px) {
  ul {
    align-items: end;
    flex-direction: column;
  }

  .element {
    margin-top: 11px;
  }
}
